//@@include('inc/header.html')

<!-- Section: Main -->
<main class="section main">

	<section class="section style-bg-gray style-hero">
		<div class="container"></div>
		<div class="section-inner">
			<div class="section-head">
				<div class="section-icon">
				</div>
				<div class="section-subtitle">Content description</div>
				<div class="section-head">See the world through our product </div>
				<img src="https://i.imgur.com/cnI5kXb.png" controls class="img"> </img>
				<h2>Get The Most Converstion Rate Easily</h2>
				<h4>*We Don't share Your personal info with anyone Check out our
					<span style="color:#34cda1;">
						<a href="#"> Policy</a>
					</span> &amp; for more information
					<span style="color: #34cda1">
						<a href="#">Contacr Us</a>
					</span>.
				</h4>
			</div>
			<div class="section-body">
				<form class="form-inline">
					<input type="text" placeholder="Your name">
					<input type="email" placeholder="Email address">
					<input type="submit" class="submitbtn" value="Subscribe »">
			</div>
			</form>
		</div>
		</div>
	</section>

	<section class="section header">
		<div class="container">
			<div class="section-inner">

				<div class="logo">
					<a href="#.">
						<img src="https://i.imgur.com/rpp3fOW.png"></img>
					</a>
				</div>

				<div class="navigation">
					<ul>
						<li>
							<a href="">SERVICES</a>
						</li>
						<li>
							<a href="">ABAUT</a>
						</li>
						<li>
							<a href="">PORTFOLIO</a>
						</li>
						<li>
							<a href="">TEAM</a>
						</li>
						<li>
							<a href="">PRICING</a>
						</li>
						<li>
							<a href="">TESTIMONIAL</a>
						</li>
					</ul>
				</div>

				<div class="social">
					<a href="#.">vk</a>
					<a href="#.">tw</a>
					<a href="#.">fb</a>
				</div>

			</div>
		</div>
	</section>

	<section class="section style-d what-we-do">
		<div class="container">
			<div class="section-inner">

				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/Dky7E1q.png" alt="">
					</div>
					<div class="section-subtitle">PRODUCT FEATURES</div>
					<div class="section-title">What we
						<span>do</span>
					</div>
				</div>

				<div class="section-body">
					<div class="row">
						<div class="col-4">
							<div class="item">
								<div class="icon">
									<img src="https://i.imgur.com/60Nv8en.png" controls class="img"> </img>
								</div>
								<div class="title">
									Fully Responsive
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, et incidunt? Veniam officiis animi eligendi corporis facere
									velit reprehenderit officia assumenda dolor natus sunt, perspiciatis vero aut voluptas accusantium amet?
								</div>
							</div>
						</div>

						<div class="col-4">
							<div class="item">
								<div class="icon">
									<img src="https://i.imgur.com/gwXsKzE.png" controls class="img"> </img>
								</div>
								<div class="title">
									Fully Responsive
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, et incidunt? Veniam officiis animi eligendi corporis facere
									velit reprehenderit officia assumenda dolor natus sunt, perspiciatis vero aut voluptas accusantium amet?
								</div>
							</div>
						</div>

						<div class="col-4">
							<div class="item">
								<div class="icon">
									<img src="https://i.imgur.com/ObW2iqD.png" controls class="img"> </img>
								</div>
								<div class="title">
									Direct Support
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, et incidunt? Veniam officiis animi eligendi corporis facere
									velit reprehenderit officia assumenda dolor natus sunt, perspiciatis vero aut voluptas accusantium amet?
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="section style-d our-contents">
		<div class="container">
			<div class="section-inner">

				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/5kgQU36.png" alt="">
					</div>
					<div class="section-subtitle">CONTENT DESCRIpTION</div>
					<div class="section-title"> Our
						<span>Contents</span>
					</div>
				</div>

				<div class="section-body">
					<div class="row">
						<div class="col-8">12312312312312</div>
						<div class="col-4">
							<div class="section-text">
								<div class="item">
									<div class="text1">LOREM MESSAGE FIRST MESSAGE </div>
								</div>
								<div class="item">
									<div class="text2">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo
										quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam. </div>
								</div>
								<div class="item">
									<div class="text3">LOREM MESSAGE THIRD MESSAGE </div>
								</div>
								<div class="item">
									<div class="text4">LOREM MESSAGE SECOND MESSAGE </div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
	</section>

	<section class="section style-d Services">
		<div class="container">
			<div class="section-inner">
				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/HDa1R96.png" alt="">
					</div>
					<div class="section-subtitle">Choose your required service from here</div>
					<div class="section-title">Services We
						<span>Provide</span>
					</div>
				</div>

			</div>

			<div class="section-body">
				<div class="row">
					<div class="col-4">
						<div class="item">
							<div class="title1">Web Design
							</div>
							<div class="text1">PSD TO HTML</div>
							<div class="text2">Adaptive Web Design</div>
							<div class="text3">Responsive Web Design</div>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<div class="title2">Web Development
								<div class="icon">
									<img src="https://i.imgur.com/Nz2Ktke.png" controls class="img"> </img>
								</div>
							</div>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<div class="title2">Web Maintenance
								<div class="icon">
									<img src="https://i.imgur.com/3C5Xftp.png" controls class="img"> </img>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<div class="item">
							<div class="title1">Web Design
							</div>
							<div class="text1">PSD TO HTML</div>
							<div class="text2">Adaptive Web Design</div>
							<div class="text3">Responsive Web Design</div>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<div class="title2">Web Development
								<div class="icon">
									<img src="https://i.imgur.com/Nz2Ktke.png" controls class="img"> </img>
								</div>
							</div>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<div class="title2">Web Maintenance
								<div class="icon">
									<img src="https://i.imgur.com/3C5Xftp.png" controls class="img"> </img>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section style-d Product">
		<div class="container">
			<div class="section-inner">
				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/cMKPp1A.png" alt="">
					</div>
					<div class="section-subtitle">PRODUCT FEATURES</div>
					<div class="section-title"> What Our
						<span>Features..</span>
					</div>
				</div>

				<div class="section-butt">
					<a href="" class="button1">Introducion</a>
					<a href="" class="button2">About</a>
					<a href="" class="button3">Features</a>
				</div>
			</div>

			<div class="row">
				<div class="col-8">
					<div class="video">
						<iframe src="https://player.vimeo.com/video/166959596" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen
						 allowfullscreen></iframe>
						<p>
							<a href="https://vimeo.com/166959596"></a>
							<a href="https://vimeo.com/ibaradiopharma"></a>
							<a href="https://vimeo.com"></a>
						</p>
					</div>
				</div>
				<div class="col-4">
					<div class="section-text">
						<div class="item">
							<div class="t1">
								Take a sneak peek at our videos, for once.
							</div>
						</div>

						<div class="item2">
							<div class="t2">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo beatae omnis modi laboriosam? Totam quae, ab
								,vero tempora minus ipsam at dolores dolor, obcaecati delenite provident pariatur ex modi aperiam.Quae, itaque.
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</section>

	<section class="section style-d Works">
		<div class="container">
			<div class="section-inner">
				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/LwuW7El.png" alt="">
					</div>
					<div class="section-subtitle">PorTFOLIO</div>
					<div class="section-title"> Our
						<span>Works</span>
					</div>
				</div>

				<div class="section-butt">
					<a href="" class="button1">All</a>
					<a href="" class="button2">Web Design</a>
					<a href="" class="button2">Web Development</a>
					<a href="" class="button2">Uncategorized</a>
				</div>
			</div>

			<div class="outer">
				<div class="inner1"></div>
				<div class="inner2"></div>
				<div class="inner3"></div>
				<div class="inner4"></div>
				<div class="inner5"></div>

				<div class="inner6">
					<div class="butt">
						<a href="" class="butt1">Bootstrap</a>
						<a href="" class="butt2">Landing</a>
						<a href="" class="butt3">CSS</a>
						<a href="" class="butt4">jQuery</a>
					</div>
				</div>

				<div class="inner7"></div>
				<div class="inner8"></div>
				<div class="inner9">
					<div class="text">Infinite Landing Page by
						<span> Naveen </span>
					</div>
				</div>
			</div>
		</div>




	</section>

	<section class="section style-d Team">
		<div class="container">
			<div class="section-inner">
				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/sUYyAFs.png" alt="">
					</div>
					<div class="section-subtitle">People Who cares</div>
					<div class="section-title"> Our
						<span>Team</span>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<div class="item1">
							<div class="text1">
								Alex Potter
							</div>
							<div class="text2"> Website Designer
							</div>
							<div class="img1">
							</div>
							<div class="social1">
								<a href="#">
									<img src="https://i.imgur.com/v0KH9hw.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/sHvFkzX.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/qsOiHoF.png" />
								</a>
							</div>
						</div>
					</div>


					<div class="col-4">
						<div class="item2">
							<div class="text1">
								Peter Parker
							</div>
							<div class="text2"> Website Developer
							</div>
							<div class="img2">
							</div>
							<div class="social1">
								<a href="#">
									<img src="https://i.imgur.com/v0KH9hw.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/sHvFkzX.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/qsOiHoF.png" />
								</a>
							</div>
						</div>
					</div>


					<div class="col-4">
						<div class="item3">
							<div class="text1">
								Armoer Janson
							</div>
							<div class="text2"> Wordpress Developer
							</div>
							<div class="img3">
							</div>
							<div class="social1">
								<a href="#">
									<img src="https://i.imgur.com/v0KH9hw.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/sHvFkzX.png" />
								</a>
								<a href="#.">
									<img src="https://i.imgur.com/qsOiHoF.png" />
								</a>
							</div>
						</div>
					</div>
				</div>

	</section>

	<section class="section New">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="img">
						<img src="https://i.imgur.com/95SnK08.png" alt="">
					</div>
				</div>

				<div class="col-6">

					<div class="text">
						NEW FEATURES
					</div>
					<div class="text1">
						Some extra
						<span>Love</span> from us
					</div>
					<div class="text2">
						Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor.
					</div>

					<div class="spisok">
						<ul>
							<li>
								<a href="#">Modern Design</a>
							</li>
							<li>
								<a href="#">Fully Responsive</a>
							</li>
							<li>
								<a href="#">Bootstrap Grid</a>
							</li>
							<li>
								<a href="#">Mailchimp Support</a>
							</li>
							<li>
								<a href="#">Easy To Customize</a>
							</li>
						</ul>
					</div>

					<div class="spisok">
						<ul>
							<li>
								<a href="#">Powerful Options </a>
							</li>
							<li>
								<a href="#">Fresh Colors </a>
							</li>
							<li>
								<a href="#">Validated Code</a>
							</li>
							<li>
								<a href="#"> Ajax Supported Form</a>
							</li>
							<li>
								<a href="#">Best Typography</a>
							</li>
						</ul>
					</div>
					<div class="section-butt">
						<a href="" class="button1">Get Infinite Now</a>
						<a href="" class="button2">View More</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section  stats">
		<div class="container">
			<div class="title">70% People Belive Another Consumer's Opinion Posted Online
			</div>
			<div class="row">
				<div class="col-3">
					<div class="item1">
						<div class="icon1">
							<img src="https://i.imgur.com/wGQ1ZxP.png" alt="">
						</div>
						<div class="text1">5,000
						</div>
						<div class="text2">Facebook Like
						</div>
					</div>
				</div>

				<div class="col-3">
					<div class="item2">
						<div class="icon1">
							<img src="https://i.imgur.com/oEQfaqN.png" alt="">
						</div>
						<div class="text1">3,000
						</div>
						<div class="text2">Twitter Follower
						</div>
					</div>
				</div>

				<div class="col-3">
					<div class="item3">
						<div class="icon1">
							<img src="https://i.imgur.com/jPV2tb7.png" alt="">
						</div>
						<div class="text1">900
						</div>
						<div class="text2">Happy Clients
						</div>
					</div>
				</div>

				<div class="col-3">
					<div class="item4">
						<div class="icon1">
							<img src="https://i.imgur.com/vqUYomE.png" alt="">
						</div>
						<div class="text1">7,000
						</div>
						<div class="text2">Money Earned
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section style-d sub">
		<div class="container">
			<div class="Subscribe ">
				<div class="row">
					<div class="col-6"></div>
					<div class="col-6">
						<div class="item">
							<div class="title">Subscribe </div>
							<div class="text">Subscribe to our weekly newsletter, We promise you that we wont spam you. Asperiores totam molestias
								eaque sunt maiores delectus modi ut ab!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section Infinite">
		<div class="container">
			<div class="icon">
				<img src="https://i.imgur.com/FrXCFF3.png" alt="">
			</div>
			<div class="title1"> Brought you by <span> Infinite </span> </div>
			<div class="title2">DESIGN BETTER. FASTER. TOGETHER.</div>
			<div class="title3">The Infinite is most converting landing page ever, Everything you can wish for.</div>
			<div class="section-butt">
				<a href="" class="button">Buy Now</a>
			</div>
		</div>
	</section>

	<section class="section style-d Best">
		<div class="container">
			<div class="section-inner">
				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/5JiC0Dv.png" alt="">
					</div>
					<div class="section-subtitle">PPRODUCT PACKAGES</div>
					<div class="section-title"> Select your
						<span>best deal !</span>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<div class="item1">
							<div class="title">BASIC
							</div>
							<div class="img1">
								<img src="https://i.imgur.com/CkLsIZi.png" alt="">
							</div>
							<h2>Per Month</h2>
							<div class="text">
								<span>Unlimited</span> Bandwidth<br>
								<span>Unlimited </span> Space <br>
								<span>One Time</span> Fees <br>
								<span>24/7 </span> Free Support <br>
								<span>Cpanel</span> Access <br>
							</div>
							<div class="section-butt">
								<a href="" class="button">Get Started</a>
							</div>
							<div class="text2">
								30 Day One User <br> Try Our Product Now <br>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="item2">
							<div class="title2">Premium
							</div>
							<div class="img2">
								<img src="https://i.imgur.com/4CanrHT.png" alt="">
							</div>
							<h3>Per Month</h3>
							<div class="text4">
								<span>Unlimited</span> Bandwidth<br>
								<span>Unlimited </span> Space <br>
								<span>One Time</span> Fees <br>
								<span>24/7 </span> Free Support <br>
								<span>Cpanel</span> Access <br>
							</div>
							<div class="section-butt2">
								<a href="" class="button2">Get Started</a>
							</div>
							<div class="text3">
								30 Day One User <br> Try Our Product Now <br>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="item3">
							<div class="title">BASIC
							</div>
							<div class="img1">
								<img src="https://i.imgur.com/dODo3U8.png" alt="">
							</div>
							<h2>Per Month</h2>
							<div class="text">
								<span>Unlimited</span> Bandwidth<br>
								<span>Unlimited </span> Space <br>
								<span>One Time</span> Fees <br>
								<span>24/7 </span> Free Support <br>
								<span>Cpanel</span> Access <br>
							</div>
							<div class="section-butt">
								<a href="" class="button">Get Started</a>
							</div>
							<div class="text2">
								30 Day One User <br> Try Our Product Now <br>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text5">
				Want to know more ? <span><a href="">read article,</a> </span> check <span><a href="">FAQ</a> </span> , or <span> <a
					 href="">contact us</a> </span>
			</div>
		</div>
	</section>

	<section class="section Get">
		<div class="container">
			<div class="title">
				Get it right now
			</div>
			<div class="text">
				Supported By Every Platfrom <span><a href="">know more</a> </span>
			</div>
			<div class="section-butt">
				<a href="" class="button1">
					<img src="https://i.imgur.com/KFxMSNx.png" alt="">
				</a>
				<a href="" class="button2">
					Get From <br>
					<span>App Store</span>
				</a>

				<a href="" class="button1">
					<img src="https://i.imgur.com/cxbxrS5.png" alt="">
				</a>
				<a href="" class="button2">
					Get it on <br>
					<span>Google play</span>
				</a>

				<a href="" class="button1">
					<img src="https://i.imgur.com/n9DptjD.png" alt="">
				</a>
				<a href="" class="button3">
					Download for <br>
					<span>Windows Phone</span>
				</a>
			</div>
		</div>
	</section>

	<section class="section Rank">
		<div class="container">
			<div class="item">
				<img src="http://placehold.it/300x300" alt="" class="img">
			</div>
			<div class="rank">
				<img src="https://i.imgur.com/dzhfFZV.png" alt="">
			</div>
			<div class="text">
				The most appealing part of the theme it's very clean and light. I liked the level of the provided service. <br> It reveales
				an individual approach to each customer
			</div>
			<div class="icon1">
				<a href=""><img src="https://i.imgur.com/Ktrd6mF.png" alt=""></a>@someone
			</div>

			<div class="icons">
				<a href=""><div class="icon2"></div></a>
				<a href=""><div class="icon3"></div></a>
			</div>

		</div>
	</section>

	<section class="section Style">
		<div class="container">
			<div class="Text">
				<div class="Featured">Featured in -:</div>
				<img src="https://i.imgur.com/bIhS6Dh.png" alt="" class="New">
				<img src="https://i.imgur.com/XTBhx4r.png" alt="" class="Forbs">
				<img src="https://i.imgur.com/vhsytMo.png" alt="" class="Wall">
				<img src="https://i.imgur.com/Fs3LH7t.png" alt="" class="Gurdian">
			</div>
		</div>
	</section>

	<section class="section style-d Hello">
		<div class="container">
			<div class="section-inner">

				<div class="section-head">
					<div class="section-icon">
						<img src="https://i.imgur.com/jf1WubL.png" alt="">
					</div>
					<div class="section-subtitle">contact us</div>
					<div class="section-title"> Say
						<span>Hello !</span>
					</div>
				</div>
			</div>

			<div class="section-message">
				<div class="row">
					<div class="col-8">
						<form class="form1">
							<input type="text" placeholder="Your Name">
							<input type="email" placeholder="Email">
						</form>

						<form class="form2">
							<input type="text" placeholder="Subject">
						</form>

						<form class="form3">
							<textarea type="" placeholder="Your Message"></textarea>
						</form>

						<div class="section-butt">
							<a href="" class="button">Send Message</a>
						</div>
					</div>

					<div class="col-4">
						<div class="maps">
							<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
							<div style='overflow:hidden;height:340px;width:615px;'>
								<div id='gmap_canvas' style='height:340px;width:700px;'></div>
								<div><small><a href=""></a></small></div>
								<div><small><a href="https://mrpromokod.ru/mts/">Источник</a></small></div>
								<style>
									#gmap_canvas img {
										max-width: none !important;
										background: none !important
									}
								</style>
							</div>
							<script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(67.93987066803535, 34.5463916769379), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(67.93987066803535, 34.5463916769379) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Название</strong><br>Мурманск Ревда Кузина 8 кв 31<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="section Contact">
		<div class="container">
			<div class="section-cont">
				<div class="row">
					<div class="col-4">
						<div class="item">
							<img src="https://i.imgur.com/zGKV3in.png" alt="">
							<div class="text">HAVE A QUESTION?</div>
							<a href=""> <div class="tel">+1 1234567890</div></a>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<div class="border">
								<img src="https://i.imgur.com/ZUy6Hoc.png" alt="">
								<div class="text">Open Mon - Fri</div>
								<div class="cloc">08:00am to 8:00pm</div>
							</div>
						</div>
					</div>

					<div class="col-4">
						<div class="item">
							<img src="https://i.imgur.com/LjWtTDO.png" alt="">
							<div class="text">Drop us an email</div>
							<a href=""> <div class="mail">help@yourdomain.com</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section Try">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<div class="section-services">
						<div class="title">TRY OUR <span>SERVICES</span> RIGHT NOW
						</div>
						<div class="text">The most appealing part of the theme it’s very clear and light. And it reavels invidual.
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="section-butt">
						<a href="" class="button">Send Message</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section footer">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="item">
						<img src="https://i.imgur.com/EGe6RpF.png" alt="" class="img">
						<div class="text"> © 2016 Infinite <br> Designed by <Span>Naveen</Span> </div>
					</div>
				</div>

				<div class="col-8">
					<div class="social">
						<a href="#">
							<img src="https://i.imgur.com/ee7CYby.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/h0LRWQb.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/MlqbhKU.png" />
						</a>
						<a href="#">
							<img src="https://i.imgur.com/hqfI551.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/KNg7Ndh.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/lvqv6IF.png" />
						</a>
						<a href="#">
							<img src="https://i.imgur.com/WykWRbZ.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/AD5HaOs.png" />
						</a>
						<a href="#.">
							<img src="https://i.imgur.com/fqZj4WR.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')